@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue: #0d142f;
  --gold: #faa100;
  --orange: #faa100;
}
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    opacity: 0.95;
    border-radius: 8px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }
}